In [5]:
import pandas

In [6]:
import numpy as np

In [8]:
german = pandas.read_table('german.data.txt', delim_whitespace=True, names=["Status","Month","Credit","Purpose",
                                                                           "CreditAMT",
                                                                           "Savings", "Employment", "Installment",
                                                                           "SexMarital", "Position", "Residence",
                                                                           "Property", "Age", "OtherInstallment",
                                                                           "Housing", "ExistCredits", "Job",
                                                                           "Liability", "Phone", "Foreign", "Predict"])

In [10]:
german.head(10)

,Status,Month,Credit,Purpose,CreditAMT,Savings,Employment,Installment,SexMarital,Position,...,Property,Age,OtherInstallment,Housing,ExistCredits,Job,Liability,Phone,Foreign,Predict
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
5,A14,36,A32,A46,9055,A65,A73,2,A93,A101,...,A124,35,A143,A153,1,A172,2,A192,A201,1
6,A14,24,A32,A42,2835,A63,A75,3,A93,A101,...,A122,53,A143,A152,1,A173,1,A191,A201,1
7,A12,36,A32,A41,6948,A61,A73,2,A93,A101,...,A123,35,A143,A151,1,A174,1,A192,A201,1
8,A14,12,A32,A43,3059,A64,A74,2,A91,A101,...,A121,61,A143,A152,1,A172,1,A191,A201,1
9,A12,30,A34,A40,5234,A61,A71,4,A94,A101,...,A123,28,A143,A152,2,A174,1,A191,A201,2

In [14]:
import pandas as pd

In [19]:
pd.value_counts(german['Predict'].values, sort=False)

1    700
2    300
dtype: int64